.formContainer {
    display: flex;
    height: 50px;
}

* {
    user-select: none;
}

.container {
    width: 400px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

h1:hover {
    color: lightgreen;
    text-shadow: 3px 9px 50px;
}

.icon {
    font-size: 15px;
}

.icon:hover {
    transform: translateY(-8px);
}